.dateContainer {
    margin-left: 127px;
    
}

.dateContainer .date {
    width: 111px;
    height: 27px;
    border: 2px solid rgb(238,238,238);
   
}

.dateContainer .hour {
    width: 83px;
    height: 27px;
    border: 2px solid rgb(238,238,238);
    margin-left: 3px;
}


.date::-webkit-inner-spin-button {
  width: 10px;
}

.msgCheck {
    visibility: visible;
    opacity: 1;     
    transition-delay: 0s;
}

.msgUn {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
