.navigationBar {
    background: white;
    width: 225px;
}

ul {
    list-style: none;
    margin-top: 90px;
    padding: 0;
}

ul li {
    text-align: center;
}

ul li button {
    height: 40px;
    background: rgb(232,233,233);
    border: none;
    width: 165px;
    text-align: left;
    font-size: 15px;
}