.navigationBar {
    background: white;
    width: 220px;
}

ul {
    list-style: none;
    margin-top: 90px;
    padding: 0;
}

.navul li {
    text-align: center;
}

.all {
    height: 40px;
    background: rgb(225, 225, 225);
    border: none;
    width: 165px;
    text-align: left;
    font-size: 15px;
}

.temple {
    color:rgb(205,204,205);
    font-size: 15px;
    margin: 0 0 0 30px;
    text-align: left;
}

.social {
    border: none;
    background: none;
    margin-top: 15px;
    font-size: 17px;
}